<div class="dashboard">
    <section>
        <h1>Admin Dashboard</h1>
        <div class="tiles">
            <div class="tile">
                <h2>Gruppen</h2>
                <p>{{ groups.length }} Gruppen</p>
            </div>
            <div class="tile">
                <h2>Benutzer</h2>
                <p>{{ users.length }} Benutzer</p>
            </div>
            <div class="tile">
                <h2>Keys</h2>
                <p>{{ keys.length }} Keys</p>
            </div>
        </div>
    </section>
</div>